@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --border: 240 5.9% 90%;
  --muted: 240 4.8% 95.9%;
}

.dark {
  --background: 240 10% 4%;
  --foreground: 0 0% 100%;
  --border: 240 3.7% 15.9%;
  --muted: 240 4% 16%;
}
